<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Improved Cocktail Database</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <h1>The Improved Cocktail Database</h1>

    <form action="/addCocktail" method="POST">

        <div id="ingredients-section">
            <input type="text" placeholder="Drink name" name="name">
            <input type="text" placeholder="Ingredients" name="ingredients1">
            <input type="text" placeholder="Ingredients" name="ingredients2">
            <input type="text" placeholder="Ingredients" name="ingredients3">
            <input type="text" placeholder="Ingredients" name="ingredients4">
            <input type="text" placeholder="Ingredients" name="ingredients5">
            <input type="text" placeholder="Ingredients" name="ingredients6">
            <input type="text" placeholder="Ingredients" name="ingredients7">
        </div>

        <div id="glassware-and-instructions-section">
            <input type="text" placeholder="Glassware" name="glassware">
            <input type="text" placeholder="Garnish" name="garnish">
            <input type="text" placeholder="Instructions" name="instructions">
        </div>
        

        <button type="submit">Submit</button>
    </form>

    <form action="/deleteCocktail" method="DELETE">
        <input type="text" placeholder="Delete by name" name="deleteCocktail">
        
        <button style="submit">Delete</button>
    </form>
    
</body>
</html>